@font-face {
  font-family: Chinese Rocks Bold Cyrillic;
  src: url(../font/Chinese_Rocks_Bold_Cyrillic.ttf);
}
@font-face{
  font-family: Saffron Cyr;
  src: url(../font/Saffron_Cyr.ttf);
}
@font-face{
  font-family: Rurintania;
  src: url(../font/Rurintania.ttf);
}
@font-face{
  font-family: Sevilla Decor;
  src: url(../font/Sevilla_Decor.ttf);
}

@media (min-width: 1920px) {

  .header-container {
    display: flex;
    float: right;
    font-family: italic; 
    font-style: oblique;
  }

  .logo {
    max-width: 15%;
    height: auto;
  }

  .first {
    color: #000000;
    font-size: 30px;
    line-height: 1.64;
    display: flex;
    float: right;
    font-weight: normal;
    width: 80%;
  }

  .mid_image_first {
    max-width: 18%;
    border-radius: 5%;
    border: 1.5px solid black;
  }

  .first_img {
    color: #000000;
    font-size: 25px;
    line-height: 1.64;
    font-weight: normal;
    display: flex;
    float: right;
    margin-left: 1%;
    width: 70%;
  }

  .middle {
    display: flex;
    float: right;
    margin-left: 2%;
  }

  .gallery_img {
    border: 1.5px solid black;
  }

  .text{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 100px);
}

  .radio-btns .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  .radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.5);
  }

    @media (min-width: 30rem) {
    .radio-btns {
      grid-template-columns: repeat(3, 150px);
    }
  }

  .radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: .3s;
    margin: 0px 0.4%;
  }

  .radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }

  .radio-btns__btn img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .gallery {
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40rem;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 5%;
    gap: 0.8%;
    width: 70%;
    height: 8rem;
    border: 1.5px solid #2b81f1;
  } 

  .online {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.45rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #2b81f1;
    padding: 10px;
  }

  .adress {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.45rem;
    color: #000000;
    text-decoration: none;
  }

  .online:hover {
    color: #000000;
  }

  .number {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.45rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .social_media {
    margin-top: 2%;
  }

  a.btn-tg {
    display: flex;
    background-image: url(../images/tg_black.jpg);
    width: 40px;
    height: 40px;
  }

  a.btn-tg:hover {
    background-image: url(../images/tg_color.jpg);
  }

  a.btn-vk {
    display: inline-block;
    background-image: url(../images/vk_black.jpg);
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  a.btn-vk:hover {
    background-image: url(../images/vk_color.jpg);
  }

  a.btn-ut {
    display: inline-block;
    background-image: url(../images/ut_black.jpg);
    width: 40px;
    height: 40px;
    }

  .btn-ut:hover {
    background-image: url(../images/ut_color.JPG);
  }

}

@media (min-width: 1200px) and (max-width: 1919px) {

  .header-container {
    display: flex;
    float: right;
    font-family: italic; 
    font-style: oblique;
  }

  .logo {
    max-width: 25%;
    height: auto;
  }

  .first {
    color: #000000;
    font-size: 25px;
    line-height: 1.64;
    display: flex;
    float: right;
    font-weight: normal;
    width: 80%;
  }

  .mid_image_first {
    max-width: 18%;
    border-radius: 5%;
    border: 1.5px solid black;
  }
  .text{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .first_img {
    color: #000000;
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;
    display: flex;
    float: right;
    margin-left: 1%;
    width: 90%;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 2%;
    gap: 0.8%;
    width: 90%;
    height: 8rem;
    border: 1.5px solid #2b81f1;
  } 

  .social_media {
    margin-top: 2%;
  }

  .middle {
    display: flex;
    float: right;
    margin-left: 2%;
  }

  .gallery_img {
    border: 1.5px solid black;
  }

  .radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 100px);
}

  .radio-btns .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  .radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.5);
  }

    @media (min-width: 30rem) {
    .radio-btns {
      grid-template-columns: repeat(3, 150px);
    }
  }

  .radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: .3s;
    margin: 0px 0.4%;
  }

  .radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }

  .radio-btns__btn img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .gallery {
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40rem;
  }

  .words {
    margin-top: 1%;
  }

  .online {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #2b81f1;
    padding: 8px;
  }

  .adress {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.4rem;
    color: #000000;
    text-decoration: none;
  }

  .online:hover {
    color: #000000;
  }

  .number {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.4rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  a.btn-tg {
    display: inline-block;
    background-image: url(../images/tg_black.JPG);
    width: 40px;
    height: 40px;
  }

  a.btn-tg:hover {
    background-image: url(../images/tg_color.JPG);
  }

  a.btn-vk {
    display: inline-block;
    background-image: url(../images/vk_black.JPG);
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  a.btn-vk:hover {
    background-image: url(../images/vk_color.JPG);
  }

  a.btn-ut {
    display: inline-block;
    background-image: url(../images/ut_black.JPG);
    width: 40px;
    height: 40px;
    }

  .btn-ut:hover {
    background-image: url(../images/ut_color.JPG);
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .header-container {
    display: flex;
    float: right;
    font-family: italic; 
    font-style: oblique;
  }

  .logo {
    max-width: 25%;
    height: auto;
  }

  .first {
    color: #000000;
    font-size: 20px;
    line-height: 1.64;
    display: flex;
    float: right;
    font-weight: normal;
    width: 80%;
  }

  .mid_image_first {
    max-width: 18%;
    border-radius: 5%;
    border: 1.5px solid black;
  }
  .text{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .first_img {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    display: flex;
    float: right;
    margin-left: 1%;
    width: 90%;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.9%;
    margin-right: 2%;
    gap: 0.8%;
    width: 90%;
    height: 6rem;
    border: 1.5px solid #2b81f1;
  } 

  .social_media {
    margin-top: 2%;
  }

  .middle {
    display: flex;
    float: right;
    margin-left: 2%;
  }

  .gallery_img {
    border: 1.5px solid black;
  }

  .radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 100px);
}

  .radio-btns .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  .radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.5);
  }

    @media (min-width: 30rem) {
    .radio-btns {
      grid-template-columns: repeat(3, 150px);
    }
  }

  .radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: .3s;
    margin: 0px 0.4%;
  }

  .radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }

  .radio-btns__btn img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .gallery {
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40rem;
  }

  .online {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #2b81f1;
    padding: 5px;
  }

  .adress {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
  }

  .online:hover {
    color: #000000;
  }

  .number {
    font-family: italic; 
    font-style: oblique;
    font-size: 1.2rem;
    margin-left: 12px;
    margin-right: 12px;
  }

  a.btn-tg {
    display: inline-block;
    background-image: url(../images/tg_black.JPG);
    width: 40px;
    height: 40px;
  }

  a.btn-tg:hover {
    background-image: url(../images/tg_color.JPG);
  }

  a.btn-vk {
    display: inline-block;
    background-image: url(../images/vk_black.JPG);
    width: 40px;
    height: 40px;
    margin-left: 12px;
    margin-right: 12px;
  }

  a.btn-vk:hover {
    background-image: url(../images/vk_color.JPG);
  }

  a.btn-ut {
    display: inline-block;
    background-image: url(../images/ut_black.JPG);
    width: 40px;
    height: 40px;
    }

  .btn-ut:hover {
    background-image: url(../images/ut_color.JPG);
  }

}

@media (max-width: 480px) {

  .header-container {
    display: flex;
    float: right;
    font-family: italic; 
    font-style: oblique;
  }

  .logo {
    max-width: 50%;
    height: auto;
  }

  .first {
    color: #000000;
    font-size: 16px;
    line-height: 1.1;
    display: flex;
    float: right;
    font-weight: normal;
    width: 75%;
  }

  .mid_image_first {
    max-width: 50%;
    border-radius: 5%;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .first_img {
    color: #000000;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    display: flex;
    /* float: right; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 7rem;
    border: 1.5px solid #2b81f1;
  } 

  .words {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .social_media {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 3%;
  }

  .middle {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 2%;
  }

  .gallery_img {
    border: 1.5px solid black;
  }

  .radio-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 100px);
}

  .radio-btns .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
  }

  .radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.5);
  }

    @media (min-width: 30rem) {
    .radio-btns {
      grid-template-columns: repeat(3, 150px);
    }
  }

  .radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: .3s;
    margin-top: 4%;
  }

  .radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
  }

  .radio-btns__btn img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .gallery {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20rem;
  }

  .online {
    margin-left: auto;
    margin-right: auto;
    font-family: italic; 
    font-style: oblique;
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #2b81f1;
    padding: 5px;
  }

  .adress {
    font-family: italic; 
    font-style: oblique;
    font-size: 0.8rem;
    color: #000000;
    text-decoration: none;
  }

  .online:hover {
    color: #000000;
  }

  .number {
    font-family: italic; 
    font-style: oblique;
    font-size: 0.8rem;
    margin-left: 4%;
    margin-right: 4%;
  }

  a.btn-tg {
    display: inline-block;
    background-image: url(../images/tg_black.JPG);
    width: 40px;
    height: 40px;
  }

  a.btn-tg:hover {
    background-image: url(../images/tg_color.JPG);
  }

  a.btn-vk {
    display: inline-block;
    background-image: url(../images/vk_black.JPG);
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  a.btn-vk:hover {
    background-image: url(../images/vk_color.JPG);
  }

  a.btn-ut {
    display: inline-block;
    background-image: url(../images/ut_black.JPG);
    width: 40px;
    height: 40px;
    }

  .btn-ut:hover {
    background-image: url(../images/ut_color.JPG);
  }
}